* {
    box-sizing: border-box;
}

body {
    margin: 0;
    
    background-image: url(GLOBAL\ CLEAN\ PINK\ BANNER.jpeg);
    background-size:cover;
}

.container {
    /* background: rgb(234, 240, 240); */
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
}

.home-page {
    /* background: rgb(153, 130, 238); */
    width: 100%;
    height: 75%;
    /* position:relative; */
    gap: 30px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    
    align-items: center;
    margin: 30px -900px;
}

.folder-icon {
    background: rgb(233, 185, 238);
    display:flex;
    width: 2%;
    height: 5%;
    
}

.executable {
    background: white;
    display: flex;
    width: 40%;
    height: 47%;
    /* flex-direction: column; */
    margin:18px 0.5px;
    /* get opinions on border or no border for executable click */
    border: 1px ridge grey;
}

.arrow {
    width: 5%;
    height: 5%;
    display: flex;
    
}


h4 {
    color: blue;
    width: 20%;
    height: -1%;
    display: flex;
    align-items:flex-end;
    font-size: medium;
}

a {
    font-size:medium;
    margin: 1px -0px;
    color: blue
}

.taskbar {
    background: rgb(233, 185, 238);
    width: 100%;
    height: 4%;
    position: absolute;
    bottom: 0px;
    display: flex;
    /* justify-content: start; */
    /* flex-direction: row; */
    
}

.menu-icon {
    background: rgb(241, 7, 202);
    display: flex;
    width: 1%;
    height: 50%;
    align-items: center;
    margin: 9px 15px;
    border: 2px ridge white;
}

.finder {
    display: flex;
    width: 1%;
    height: 50%;
    align-items: start;
    margin:6px 15px;
}

.app-icon {
    background: rgb(163, 82, 230);
    width: 1%;
    height: 50%;
    margin: 9px 15px;
    
}
.app-icon2 {
    background: rgb(231, 118, 226);
    width: 1%;
    height: 50%;
    margin: 9px 15px;
    
}

